{% extends "base.html" %}
{% block content %}

<body>
    <div id="demandList">
        <p id="yourTeam">User Standings</p>
    </div>

</body>

<script>
    aggregate();

    function aggregate() {
     var source = "/raw_teams_all";
     var source1 = "/raw_players_all";
     var final_json = [];
     var user_portfolio_value = 0;
     var user_pregame_value = 0;
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                $.ajax({
                    type: 'GET',
                    url: source1,
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (jsonFunc) {


                            for (var i = 0; i < json.length; i++) {
                                for (var j = 0; j < jsonFunc.length; j++) {
                                    if (parseInt(json[i]['player_id']) === jsonFunc[j]['player_id'] && parseInt(json[i]['match_id']) === jsonFunc[j]['match_id']) {
                                        final_json.push(json[i]);
                                        final_json[final_json.length - 1]['balls_faced'] = jsonFunc[j]['balls_faced'];
                                        final_json[final_json.length - 1]['runs_scored'] = jsonFunc[j]['runs_scored'];
                                        final_json[final_json.length - 1]['fours'] = jsonFunc[j]['fours'];
                                        final_json[final_json.length - 1]['sixes'] = jsonFunc[j]['sixes'];
                                        final_json[final_json.length - 1]['player_profile'] = jsonFunc[j]['player_profile'];
                                        final_json[final_json.length - 1]['wkts_taken'] = jsonFunc[j]['wkts_taken'];
                                        final_json[final_json.length - 1]['overs'] = jsonFunc[j]['overs'];
                                        final_json[final_json.length - 1]['maidens'] = jsonFunc[j]['maidens'];
                                        final_json[final_json.length - 1]['dot_balls'] = jsonFunc[j]['dot_balls'];
                                        final_json[final_json.length - 1]['runs_conceded'] = jsonFunc[j]['runs_conceded'];
                                        final_json[final_json.length - 1]['value_per_share'] = jsonFunc[j]['value_per_share'];
                                        final_json[final_json.length - 1]['shares_purchased'] = jsonFunc[j]['shares_purchased'];
                                    }
                                }
                            }

                            for (i = 0; i < final_json.length; i++) {
                                var final_points = 0;
                                if (final_json[i]['player_profile'] !== "Bowler" && final_json[i]['runs_scored'] === 0) {
                                    final_points -= 20
                                }
                                var runs_bonus = final_json[i]['runs_scored'];
                                var boundary_bonus = final_json[i]['fours'] * 2 + final_json[i]['sixes'] * 3;
                                var strike_rate = (final_json[i]['runs_scored'] / final_json[i]['balls_faced']) * 100;
                                var sr_bonus = 0;
                                var milestone_bonus = 0;

                                if (final_json[i]['balls_faced'] >= 15 || final_json[i]['runs_scored'] >= 15) {
                                    if (strike_rate < 50) {
                                        sr_bonus = -40;
                                    } else if (strike_rate >= 50 && strike_rate < 75) {
                                        sr_bonus = -30;
                                    } else if (strike_rate >= 75 && strike_rate < 100) {
                                        sr_bonus = -30;
                                    } else if (strike_rate >= 125 && strike_rate < 150) {
                                        sr_bonus = 10;
                                    } else if (strike_rate >= 150 && strike_rate < 175) {
                                        sr_bonus = 20;
                                    } else if (strike_rate > 175) {
                                        sr_bonus = 30;
                                    }
                                }
                                if (runs_bonus > 100) {
                                    milestone_bonus = 110;
                                } else if (runs_bonus >= 75 && runs_bonus < 100) {
                                    milestone_bonus = 60;
                                } else if (runs_bonus >= 50 && runs_bonus < 75) {
                                    milestone_bonus = 30;
                                } else if (runs_bonus >= 25 && runs_bonus < 50) {
                                    milestone_bonus = 10;
                                }

                                var wkts_bonus = parseInt(final_json[i]['wkts_taken']) * 25;
                                var maiden_bonus = parseInt(final_json[i]['maidens']) * 30;
                                var dot_bonus = parseInt(final_json[i]['dot_balls']);
                                var econ_bonus = 0;
                                var wkt_milestone_bonus = 0;

                                if (final_json[i]['overs'] >= 2) {
                                    var rpo = final_json[i]['runs_conceded'] / final_json[i]['overs'] || 0;
                                    if (rpo >= 10) {
                                        econ_bonus = -20;
                                    } else if (rpo >= 9 && rpo < 10) {
                                        econ_bonus = -15;
                                    } else if (rpo >= 8 && rpo < 9) {
                                        econ_bonus = -10;
                                    } else if (rpo >= 6 && rpo < 7) {
                                        econ_bonus = 15;
                                    } else if (rpo >= 5 && rpo < 6) {
                                        econ_bonus = 20;
                                    } else if (rpo >= 4 && rpo < 5) {
                                        econ_bonus = 30;
                                    } else if (rpo >= 0 && rpo < 3) {
                                        econ_bonus = 50;
                                    }
                                }

                                if (final_json[i]['wkts_taken'] >= 5) {
                                    wkt_milestone_bonus = 80;
                                } else if (final_json[i]['wkts_taken'] === 4) {
                                    wkt_milestone_bonus = 60;
                                } else if (final_json[i]['wkts_taken'] === 3) {
                                    wkt_milestone_bonus = 40;
                                } else if (final_json[i]['wkts_taken'] === 2) {
                                    wkt_milestone_bonus = 15;
                                }
                                final_points = runs_bonus + boundary_bonus + sr_bonus + milestone_bonus + wkts_bonus + maiden_bonus + dot_bonus + econ_bonus + wkt_milestone_bonus;
                                final_json[i]['final_points'] = final_points;
                                var reference_points = final_json[i]['value_per_share'] / 20;

                                if (final_json[i]['overs'] === 0 && final_json[i]['balls_faced'] === 0) {
                                    reference_points = 0;
                                }

                                final_json[i]['new_value_per_share'] = final_json[i]['value_per_share'] + (final_points - reference_points);
                                final_json[i]['total_value_post_game'] = final_json[i]['new_value_per_share'] * final_json[i]['shares_purchased'];
                                final_json[i]['total_value_pre_game'] = final_json[i]['value_per_share'] * final_json[i]['shares_purchased'];

                                user_pregame_value += final_json[i]['total_value_pre_game'];
                                user_portfolio_value += final_json[i]['total_value_post_game'];

                            }


                        var aggregatedData = d3.nest()
                            .key(function (d) {
                                return d.user_name;
                            })
                            .key(function (d) {
                                return d.match_id;
                            })
                            .rollup(function (leaves) {
                                return {
                                    "total_points": d3.sum(leaves, function (d) {return d.final_points;})
                                }
                            })
                            .entries(final_json);

                            console.log(aggregatedData);

                            var tbl = $("<table class='w3-table w3-bordered' id='demandDetails'/>");
                            $("#demandList").append(tbl);
                            var hr = "<tr class='w3-red'>";
                            var th1 = "<th style='text-align:center;vertical-align:middle'>" + "Rank" + "</th>";
                            var th2 = "<th style='text-align:center;vertical-align:middle'>" + "User" + "</th>";
                            var th3 = "<th style='text-align:center;vertical-align:middle'>" + "Overall Points" + "</th>";
                            var th4 = "<th onclick='sortTable(3)' style='text-align:center;vertical-align:middle'>" + "Points Per Game" + "</th>";
                            $("#demandDetails").append(hr + th1 + th2 + th3 + th4);
                            for (i = 0; i < aggregatedData.length; i++) {
                                var user_total_points = 0;
                                for(j = 0; j < aggregatedData[i].values.length; j++) {
                                    user_total_points += aggregatedData[i].values[j];
                                }

                                var row = $('<tr></tr>').html("<td style='text-align:center;vertical-align:middle'>" + (j+1) + '</td>' +
                                    "<td style='text-align:center;vertical-align:middle'>" + aggregatedData[i].key + '</td>' +
                                    "<td style='text-align:center;vertical-align:middle'>" + addComma(user_total_points) + '</td>' +
                                    "<td style='text-align:center;vertical-align:middle'>" + user_total_points / aggregatedData[i].values.length + '</td>');
                                $("#demandDetails").append(row);
                            }

                    },
                    error: function (e) {
                        alert("Results will be available the day after the game is played.");
                    }
                });
            },
            error: function (e) {
                alert("error");
            }
        });
    }

        function addComma(x) {
        x=x.toString();
        var lastThree = x.substring(x.length-3);
        var otherNumbers = x.substring(0,x.length-3);
        if(otherNumbers !== '')
            lastThree = ',' + lastThree;
        var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
        return res;
    }

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("demandDetails");
            switching = true;
            // Set the sorting direction to ascending:
            // dir = "asc";
            // /* Make a loop that will continue until no switching has been done: */
            // while (switching) {
            // Start by saying: no switching is done:
            // switching = false;
            // rows = table.rows;
            // /* Loop through all table rows (except the first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir === "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir === "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount === 0 && dir === "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }

</script>

{% endblock %}
