{% extends "base.html" %}
{% block content %}

<style>
    button{
        display: inline-block;
    }

    img{
        width:100px;
        height:100px;
    }

    #logged{
        text-align: center;
    }

    #logged span{
        color: green;
        font-size: 50px;
    }
</style>

<div id="logged">
    <p> <span id="Success"> Your shares have been purchased! </span> </p>
    <p><img src="https://images.vexels.com/media/users/3/157931/isolated/preview/604a0cadf94914c7ee6c6e552e9b4487-curved-check-mark-circle-icon-by-vexels.png"></p>

    <a href="/view_team/{{match_id}}/{{user._id}}"><button class="btn btn-success">View Team</button></a>

</div>

{% endblock %}
